*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(222, 101, 57);
    color: white;
}
.headtext{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.heroimage img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}